<launch>

	<include file="$(find pocketsphinx)/launch/pocketsphinx.launch"> </include>	

	<include file="$(find config_files)/launch/navigation.launch"> </include>	

	<node name="leg_finder" pkg="leg_finder" type="leg_finder_node"/>
	<node name="human_follower" pkg="human_follower" type="human_follower_node"/>
	<node name="speaker" pkg="robotino_talk" type="speaker.py"/>
	
</launch>
