<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="prismatic_manipulator" params="prefix parent_link mesh_package xyz rpy">
  <xacro:property name="scale" value="0.001 0.001 0.001"/>

  <!-- Materiales -->
  <material name="metal">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="grey">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <!-- Links -->
  <link name="${prefix}BaseFrame_link">
    <visual>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulator_Base_Frame.stl" scale="${scale}"/>
      </geometry>
      <material name="metal"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulator_Base_Frame.stl" scale="${scale}"/>
      </geometry>
    </collision>
  </link>

  <link name="${prefix}AxisY_link">
    <visual>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulator_Y_Carriage.stl" scale="${scale}"/>
      </geometry>
      <material name="metal"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulator_Y_Carriage.stl" scale="${scale}"/>
      </geometry>
    </collision>
  </link>

  <link name="${prefix}AxisX_link">
    <visual>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulator_X_Carriage.stl" scale="${scale}"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulator_X_Carriage.stl" scale="${scale}"/>
      </geometry>
    </collision>
  </link>

  <link name="${prefix}AxisZ_link">
    <visual>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulator_Z_Carriage.stl" scale="${scale}"/>
      </geometry>
      <material name="metal"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulator_Z_Carriage.stl" scale="${scale}"/>
      </geometry>
    </collision>
  </link>

  <link name="${prefix}ClawBase_link">
    <visual>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulator_Claw_Base.stl" scale="${scale}"/>
      </geometry>
      <material name="metal"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulator_Claw_Base.stl" scale="${scale}"/>
      </geometry>
    </collision>
  </link>

  <link name="${prefix}ClawShovelR_link">
    <visual>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulador_Claw_Shovel.stl" scale="${scale}"/>
      </geometry>
      <material name="metal"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulador_Claw_Shovel.stl" scale="${scale}"/>
      </geometry>
    </collision>
  </link>

  <link name="${prefix}ClawShovelL_link">
    <visual>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulador_Claw_Shovel.stl" scale="${scale}"/>
      </geometry>
      <material name="metal"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://${mesh_package}/meshes/Manipulador_Claw_Shovel.stl" scale="${scale}"/>
      </geometry>
    </collision>
  </link>

  <!-- Joints -->
  <joint name="${prefix}BaseFrame_joint" type="fixed">
    <parent link="${parent_link}"/>
    <child link="${prefix}BaseFrame_link"/>
    <origin xyz="${xyz}" rpy="${rpy}"/>
  </joint>

  <joint name="${prefix}AxisY_joint" type="prismatic">
    <parent link="${prefix}BaseFrame_link"/>
    <child link="${prefix}AxisY_link"/>
    <origin xyz="-0.00475 0.25696 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.21592" upper="0.0" effort="10.0" velocity="0.5"/>
    <dynamics damping="0.7" friction="0.1"/>
  </joint>

  <joint name="${prefix}AxisX_joint" type="prismatic">
    <parent link="${prefix}AxisY_link"/>
    <child link="${prefix}AxisX_link"/>
    <origin xyz="0.02504 0.056 0.081" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.105" effort="10.0" velocity="0.5"/>
    <dynamics damping="0.5" friction="0.1"/>
  </joint>

  <joint name="${prefix}AxisZ_joint" type="prismatic">
    <parent link="${prefix}AxisX_link"/>
    <child link="${prefix}AxisZ_link"/>
    <origin xyz="0.035 -0.05745 0.21389" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.18" upper="0" effort="5.0" velocity="0.3"/>
    <dynamics damping="0.3" friction="0.05"/>
  </joint>

  <joint name="${prefix}ClawBase_joint" type="fixed">
    <parent link="${prefix}AxisZ_link"/>
    <child link="${prefix}ClawBase_link"/>
    <origin xyz="-0.01 -0.24 0.03" rpy="0 0 0"/>
  </joint>

  <joint name="${prefix}ClawShovelR_joint" type="prismatic">
    <parent link="${prefix}ClawBase_link"/>
    <child link="${prefix}ClawShovelR_link"/>
    <origin xyz="-0.0357 -0.04494 -0.04010" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.020" effort="5.0" velocity="0.3"/>
    <dynamics damping="0.3" friction="0.05"/>
  </joint>

  <joint name="${prefix}ClawShovelL_joint" type="prismatic">
    <parent link="${prefix}ClawBase_link"/>
    <child link="${prefix}ClawShovelL_link"/>
    <origin xyz="0.0557 0.0549 -0.04010" rpy="0 0 3.141516"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.020" effort="5.0" velocity="0.3"/>
    <dynamics damping="0.3" friction="0.05"/>
  </joint>
</xacro:macro>
</robot>
