<?xml version="1.0"?>

<robot name="Manipulator">

  <!-- Materiales -->
  <material name="metal">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="grey">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  
  <!-- Links -->

  <!-- BaseFrame -->
  <link name="BaseFrame_link">
     <visual>
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulator_Base_Frame.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
      <material name="metal"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulator_Base_Frame.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
    </collision>
  </link>
  
  <!-- Axis Y -->
  <link name="AxisY_link">
    <visual> 
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulator_Y_Carriage.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
      <material name="metal"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulator_Y_Carriage.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
    </collision>
  </link>

  <!-- Axis X -->
  <link name="AxisX_link">
    <visual> 
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulator_X_Carriage.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulator_X_Carriage.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
    </collision>
  </link>

  <!-- Axis Z -->
  <link name="AxisZ_link">
    <visual> 
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulator_Z_Carriage.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
      <material name="metal"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulator_Z_Carriage.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
    </collision>
  </link>

  <!-- Claw Base -->
  <link name="ClawBase_link">
    <visual> 
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulator_Claw_Base.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
      <material name="metal"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulator_Claw_Base.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
    </collision>
  </link>
  
  <!-- Claw Shovel Right -->
  <link name="ClawShovelR_link">
    <visual> 
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulador_Claw_Shovel.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
      <material name="metal"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulador_Claw_Shovel.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
    </collision>
  </link>

  <!-- Claw Shovel Left -->
  <link name="ClawShovelL_link">
    <visual> 
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulador_Claw_Shovel.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
      <material name="metal"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://manipulator_description/meshes/Manipulador_Claw_Shovel.stl" scale="0.001 0.001 0.001"/>  
      </geometry>
    </collision>
  </link>

  <!-- Joints -->
  <joint name="BaseFrame_joint" type="fixed">
    <parent link="platform_link"/>
    <child link="BaseFrame_link"/>
    <origin xyz="0.115 0.18 0.0" rpy ="0 0 3.1415 "/>
  </joint>

  <joint name="AxisY_joint" type="prismatic">
    <parent link="BaseFrame_link"/>
    <child link="AxisY_link"/>
    <origin xyz="-0.00475 0.25696 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.21592" upper="0.0" effort="10.0" velocity="0.5"/>
    <dynamics damping="0.7" friction="0.1"/>
  </joint>

  <joint name="AxisX_joint" type="prismatic">
    <parent link="AxisY_link"/>
    <child link="AxisX_link"/>
    <origin xyz="0.02504 0.056 0.081" rpy="0 0 0"/> 
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.105" effort="10.0" velocity="0.5"/>
    <dynamics damping="0.5" friction="0.1"/>
  </joint>
  
  <joint name="AxisZ_joint" type="prismatic">
    <parent link="AxisX_link"/>
    <child link="AxisZ_link"/>
    <origin xyz="0.035 -0.05745 0.21389" rpy="0 0 0"/> 
    <axis xyz="0 0 1"/>
    <limit lower="-0.18" upper="0" effort="5.0" velocity="0.3"/>
    <dynamics damping="0.3" friction="0.05"/>
  </joint>

  <joint name="ClawBase_joint" type="fixed">
    <parent link="AxisZ_link"/>
    <child  link="ClawBase_link"/>
    <origin xyz="-0.01 -0.24 0.03" rpy ="0 0 0 "/>
  </joint>

  <joint name="ClawShovelR_joint" type="prismatic">
    <parent   link="ClawBase_link"/>
    <child    link="ClawShovelR_link"/>
    <origin   xyz="-0.0357 -0.04494 -0.04010" rpy="0 0 0"/> 
    <axis     xyz="1 0 0"/>
    <limit    lower="0" upper="0.020" effort="5.0" velocity="0.3"/>
    <dynamics damping="0.3" friction="0.05"/>
  </joint>
  
  <joint name="ClawShovelL_joint" type="prismatic">
    <parent   link="ClawBase_link"/>
    <child    link="ClawShovelL_link"/>
    <origin   xyz="0.0557 0.0549 -0.04010" rpy="0 0 3.141516"/> 
    <axis     xyz="1 0 0"/>
    <limit    lower="0" upper="0.020" effort="5.0" velocity="0.3"/>
    <dynamics damping="0.3" friction="0.05"/>
  </joint>


</robot>
