<launch>

    <arg name="hostname" default="127.0.1.1" />
    <arg name="tf_prefix" default="no_prefix"/>
    <arg name="use_tf_prefix" default="false" />

    <node name="robotino_node" pkg="robotino_node" type="robotino_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
        <param name="max_linear_vel" value="1.0" />
        <param name="min_linear_vel" value="0.01" />
        <param name="max_angular_vel" value="1.0" />
        <param name="min_angular_vel" value="0.01" />
        <param name="ns_room_id" value="3" />
        <param name="ns_ceil_height" value="3.0" />
        <param name="tf_prefix" value="$(arg tf_prefix)" />
        <remap from="robotino_joint_states" to="joint_states" />
        <!--remap from="image_raw" to="image"/-->
    </node>

    <node name="robotino_odometry_node" pkg="robotino_node" type="robotino_odometry_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
        <param name="tf_prefix" value="$(arg tf_prefix)" />
    </node>


    <!--node name="robotino_laserrangefinder_node" pkg="robotino_node" type="robotino_laserrangefinder_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
        <param name="laserRangeFinderNumber" value="0" />
        <param name="tf_prefix" value="$(arg tf_prefix)" />
        <param name="frame_id" value="laser_link"/>
    </node> -->

    <node name="ydlidar_lidar_publisher"  pkg="ydlidar_ros_driver"  type="ydlidar_ros_driver_node" output="screen" respawn="false" >
        <!-- string property -->
        <param name="port"         type="string" value="/dev/ydlidar"/>  
        <param name="frame_id"     type="string" value="laser_link"/>
        <param name="ignore_array"     type="string" value=""/>

        <!-- int property -->
        <param name="baudrate"         type="int" value="512000"/>  
        <!-- 0:TYPE_TOF, 1:TYPE_TRIANGLE, 2:TYPE_TOF_NET -->
        <param name="lidar_type"       type="int" value="0"/>  
        <!-- 0:YDLIDAR_TYPE_SERIAL, 1:YDLIDAR_TYPE_TCP -->
        <param name="device_type"         type="int" value="0"/>  
        <param name="sample_rate"         type="int" value="20"/>  
        <param name="abnormal_check_count"         type="int" value="4"/>  

        <!-- bool property -->
        <param name="resolution_fixed"    type="bool"   value="true"/>
        <param name="auto_reconnect"    type="bool"   value="true"/>
        <param name="reversion"    type="bool"   value="true"/>
        <param name="inverted"    type="bool"   value="true"/>
        <param name="isSingleChannel"    type="bool"   value="false"/>
        <param name="intensity"    type="bool"   value="false"/>
        <param name="support_motor_dtr"    type="bool"   value="false"/>
        <param name="invalid_range_is_inf"    type="bool"   value="false"/>
        <param name="point_cloud_preservative"    type="bool"   value="false"/>

        <!-- float property -->
        <param name="angle_min"    type="double" value="-180" />
        <param name="angle_max"    type="double" value="180" />
        <param name="range_min"    type="double" value="0.01" />
        <param name="range_max"    type="double" value="50.0" />
        <param name="frequency"    type="double" value="10.0"/>
    </node>

    <!--node name="robotino_camera_node" pkg="robotino_node" type="robotino_camera_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
        <param name="cameraNumber" value="0" />
    </node> -->

    <!-- for second camera -->
    <!-- <node name="robotino_second_camera_node" pkg="robotino_node" type="robotino_camera_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
        <param name="cameraNumber" value="1" />
    </node> -->

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="20.0" />
	<!--param name="publish_frequency" value="30" /-->
        <param name="tf_prefix" value="$(arg tf_prefix)" if="$(arg use_tf_prefix)"/>
    </node>

    <!--node pkg="tf" type="static_transform_publisher" name="laser_camera_broadcaster" args="0.0 0 0.0 0 0 0 laser_link camera_depth_frame 50" unless="$(arg use_tf_prefix)" /-->

    <!--node pkg="tf" type="static_transform_publisher" name="laser_camera_broadcaster" args="0.0 0 0.0 0 0 0 $(arg tf_prefix)/laser_link $(arg tf_prefix)/camera_depth_frame 50" if="$(arg use_tf_prefix)" /-->

    <node pkg="tf" type="static_transform_publisher" name="base_laser_broadcaster_from_launch_file" args="0.07 0.0 0.29 0 0 0 base_link laser_link 50" unless="$(arg use_tf_prefix)"/>

    <node pkg="tf" type="static_transform_publisher" name="base_laser_broadcaster_from_launch_file" args="0.07 0.0 0.29 0 0 0 $(arg tf_prefix)/base_link $(arg tf_prefix)/laser_link 100" if="$(arg use_tf_prefix)"/>

    <param name="robot_description" textfile="$(find robotino_description)/urdf/robotino.urdf" />

    <include file="$(find config_files)/launch/navigation.launch"></include>
</launch>
